@import "variables";
@import "footer";
@import "mixins";
@import "redes";

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;

}




body {
	background: linear-gradient(135deg, rgb(0, 0, 0) 23%, rgba(35, 101, 128, 0.575)100%);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: grid;
	min-height: 100vh;
	width: 100%;
	grid-template-rows: auto 1fr auto;
	z-index: 1000;
	border-style: double;
	border: 1.5px;


	.main {
		position: relative;
		background: url(../assets/imageninicio.jpg);
		height: 100vh;
		background-size: cover;
		background-position: center;
		padding: 220px;
		border: 1px;
		border-style: double;

		.mask-custom {
			position: static;
			backdrop-filter: blur(1px);
			background-color: rgba(35, 101, 128, 0.575);
			border: 1.5px inset rgb(255, 255, 255);

		}
	}

	.main h2 {
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		margin: 0;
		padding: 0;
		font-size: 2.6em;
		color: #ffffff;
		text-transform: uppercase;
		font-weight: lighter;

	}

	.main p {
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		margin-top: 1em;
		padding: 0;
		font-size: 1em;
		color: #ffffff;
		font-weight: lighter;
	}

	.main .btn {
		background: black;
		color: white;
		border-radius: 5px;
		padding-left: 25px;
		padding-right: 25px;
	}


	@media(max-width: 768px) {
		.main {
			padding: 200px 0;

		}

		.main h2 {
			font-size: 2em;
		}


	}

	.main2 {
		position: relative;
		background: url(../assets/fondocontacto2.jpg);
		height: 100vh;
		background-size: cover;
		background-position: center;
		padding: auto;
		border: 1px;
		border-style: double;
		text-align: center;
		padding: 25px;


		.mask-custom-2 {
			position: relative;
			backdrop-filter: blur(1px);
			background-color: rgba(19, 59, 26, 0.575);
			height: auto;
			min-height: 15vh;
			padding: auto;
			border: 1.5px inset rgb(255, 255, 255);
		}
	}

	@media(max-width: 768px) {
		.main {
			padding: 200px 0;

		}

		.main h2 {
			font-size: 1em;
		}
	}

	nav {
		@include nav();
	}

	.card-1 {
		@include cards();
	}

	.card-2 {
		@include cards();
		background: linear-gradient(135deg, #3c1d5f 23%, rgba(0, 0, 0, 0.575) 100%)
	}

	.card-3 {
		@include cards();
		background: linear-gradient(135deg, #1d5f36 23%, rgba(0, 0, 0, 0.575) 100%);
	}


	.container-bar {
		@include redes();
	}


	.fond {
		position: center;
		padding-top: 85px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		

		.carreaux_presentation_light {
			display: table-cell;
			width: 250px;
			height: 250px;
			background-size: cover;
			overflow: hidden;
			position: relative;
			
		}

		.carreaux_presentation_light .shadow_swhow_mini {
			background-color: rgba(19, 30, 33, 0.4);
			position: absolute;
			z-index: 50;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			

		}

		.carreaux_presentation_light:hover .shadow_swhow_mini {
			background-color: rgba(16, 23, 41, 0);
		}

		.carreaux_presentation_light .deroul_titre {
			position: absolute;
			text-transform: uppercase;
			font-family: 'Roboto';
			padding: 7px;
			z-index: 50;
			top: 60%;
			left: -80%;
			color: #ffffff;
			font-weight: 300;
			font-size: 13px;
			width: 80%;
			-webkit-transition: all 0.7s;
			-moz-transition: all 0.7s;
			-ms-transition: all 0.7s;
			transition: all 0.7s;

		}

		.carreaux_presentation_light:hover .deroul_titre {
			background-color: #1e4944;
			left: 0px;

		}

		.carreaux_presentation_light .deroul_soustitre {
			position: absolute;
			font-family: 'Roboto';
			padding: 5px;
			z-index: 50;
			top: 60%;
			right: -85%;
			margin-top: 25px;
			color: #ffffff;
			font-weight: 300;
			font-size: 11px;
			width: 80%;
			-webkit-transition: all 0.7s;
			-moz-transition: all 0.7s;
			-ms-transition: all 0.7s;
			transition: all 0.7s;
		}

		.carreaux_presentation_light:hover .deroul_soustitre {
			background-color: #417c74;
			right: 0px;
		}
	}

	.abs-center {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		color: white;

	}

	.form {
		width: 450px;
	}

	.footer {
		@include footer;
	}
}