* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%; }

h3 {
  color: #00acee; }

h4 {
  color: #00acee; }

h1 {
  color: #00acee; }

.text-center {
  color: #e52a23; }

body {
  margin: 0;
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

.img-ini {
  background: url(../assets/imageninicio.jpg) no-repeat;
  background-size: cover; }

.imagen-fondo {
  background-image: url(../assets/imageninicio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.imagen-info {
  background-image: url(../assets/fondocontacto2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fondogaleria {
  background-image: url(../assets/fondogaleria3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

nav {
  background: linear-gradient(to left, red, black);
  position: static;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; }

nav a {
  display: inline-block;
  margin: 0.1em;
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  color: white; }

a:link, a:visited, a:active {
  text-decoration: none; }

nav a:hover {
  color: black; }

ul {
  list-style: none;
  display: inline-block; }

ul li {
  float: left; }

#galeria .col-lg-4 {
  margin: 0;
  padding: 25px; }

#galeria img {
  width: 100%;
  height: 250px;
  border: 2px solid #c91919; }

#galeria img:hover {
  border: 5px solid #c91919; }

.contactoform {
  text-align: center;
  margin: auto;
  font-weight: bolder;
  width: 100%;
  padding: 100px;
  color: black; }

#imagen-principal .row {
  margin: 0;
  padding: 25px;
  width: 100%; }

.footer {
  background-image: linear-gradient(to left, red, black);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 200;
  color: black;
  padding: 2em;
  text-align: center;
  bottom: 0; }

.container-bar {
  width: 100%;
  max-width: 50px;
  position: fixed;
  left: 0;
  top: 25%; }

.container-bar a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: all 500ms ease;
  color: #fff; }

.container-bar a:hover {
  background: #1c1c1c; }

.container-bar .fa-facebook {
  background: #3b5998;
  border-radius: 0px 5px 0px 0px; }

.container-bar .fa-youtube {
  background: #e52a23; }

.container-bar .fa-twitter {
  background: #00acee; }

.container-bar .fa-github {
  background: #747473; }

.container-bar .fa-pinterest {
  background: #c8232c;
  border-radius: 0px 0px 5px 0px; }

.container-bar #title {
  position: absolute;
  background: #1c1c1c;
  padding: 0px 8px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  font-size: 15px;
  top: 12px;
  left: 0px;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
  z-index: -1; }

.container-bar a:hover #title {
  opacity: 1;
  visibility: visible;
  left: 64px; }

.container-bar #title:after {
  position: absolute;
  content: '';
  border-left: 7px solid transparent;
  border-right: 6px solid #1c1c1c;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  right: 100%;
  top: 8px; }

#btn-social {
  display: none; }

.fa-play {
  cursor: pointer;
  transition: all 0.4s;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  transform: rotate(180deg);
  color: #49b0e6; }

#btn-social:checked ~ .fa-play {
  transform: rotate(0deg); }

.icon-social {
  transition: all 0.4s;
  transform: translateX(0%);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); }

#btn-social:checked ~ .icon-social {
  transform: translateX(-100%);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0); }

.animation-container {
  display: block;
  position: relative;
  width: 800px;
  max-width: 100%;
  margin: 0 auto; }
  .animation-container .lightning-container {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    transform: translateY(-50%); }
    .animation-container .lightning-container .lightning {
      position: absolute;
      display: block;
      height: 12px;
      width: 12px;
      border-radius: 12px;
      transform-origin: 6px 6px;
      animation-name: woosh;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation-direction: alternate; }
      .animation-container .lightning-container .lightning.white {
        background-color: white;
        box-shadow: 0px 50px 50px 0px rgba(255, 255, 255, 0.3); }
      .animation-container .lightning-container .lightning.red {
        background-color: #fc7171;
        box-shadow: 0px 50px 50px 0px rgba(252, 113, 113, 0.3);
        animation-delay: 0.2s; }
  .animation-container .boom-container {
    position: absolute;
    display: flex;
    width: 80px;
    height: 80px;
    text-align: center;
    align-items: center;
    transform: translateY(-50%);
    left: 200px;
    top: -145px; }
    .animation-container .boom-container .shape {
      display: inline-block;
      position: relative;
      opacity: 0;
      transform-origin: center center; }
      .animation-container .boom-container .shape.triangle {
        width: 0;
        height: 0;
        border-style: solid;
        transform-origin: 50% 80%;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        margin-left: -15px;
        border-width: 0 2.5px 5px 2.5px;
        border-color: transparent transparent #42e599 transparent;
        animation-name: boom-triangle; }
        .animation-container .boom-container .shape.triangle.big {
          margin-left: -25px;
          border-width: 0 5px 10px 5px;
          border-color: transparent transparent #fade28 transparent;
          animation-name: boom-triangle-big; }
      .animation-container .boom-container .shape.disc {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #d15ff4;
        animation-name: boom-disc;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite; }
      .animation-container .boom-container .shape.circle {
        width: 20px;
        height: 20px;
        animation-name: boom-circle;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        border-radius: 100%;
        margin-left: -30px; }
        .animation-container .boom-container .shape.circle.white {
          border: 1px solid white; }
        .animation-container .boom-container .shape.circle.big {
          width: 40px;
          height: 40px;
          margin-left: 0px; }
          .animation-container .boom-container .shape.circle.big.white {
            border: 2px solid white; }
      .animation-container .boom-container .shape:after {
        background-color: rgba(178, 215, 232, 0.2); }
    .animation-container .boom-container .shape.triangle, .animation-container .boom-container .shape.circle, .animation-container .boom-container .shape.circle.big, .animation-container .boom-container .shape.disc {
      animation-delay: .38s;
      animation-duration: 3s; }
    .animation-container .boom-container .shape.circle {
      animation-delay: 0.6s; }
    .animation-container .boom-container.second {
      left: 485px;
      top: 155px; }
      .animation-container .boom-container.second .shape.triangle, .animation-container .boom-container.second .shape.circle, .animation-container .boom-container.second .shape.circle.big, .animation-container .boom-container.second .shape.disc {
        animation-delay: 1.9s; }
      .animation-container .boom-container.second .shape.circle {
        animation-delay: 2.15s; }

@keyframes woosh {
  0% {
    width: 12px;
    transform: translate(0px, 0px) rotate(-35deg); }
  15% {
    width: 50px; }
  30% {
    width: 12px;
    transform: translate(214px, -150px) rotate(-35deg); }
  30.1% {
    transform: translate(214px, -150px) rotate(46deg); }
  50% {
    width: 110px; }
  70% {
    width: 12px;
    transform: translate(500px, 150px) rotate(46deg); }
  70.1% {
    transform: translate(500px, 150px) rotate(-37deg); }
  85% {
    width: 50px; }
  100% {
    width: 12px;
    transform: translate(700px, 0) rotate(-37deg); } }

@keyframes boom-circle {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  30% {
    opacity: 0;
    transform: scale(3); }
  100% { } }

@keyframes boom-triangle-big {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  40% {
    opacity: 0;
    transform: scale(2.5) translate(50px, -50px) rotate(360deg); }
  100% { } }

@keyframes boom-triangle {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  30% {
    opacity: 0;
    transform: scale(3) translate(20px, 40px) rotate(360deg); }
  100% { } }

@keyframes boom-disc {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  40% {
    opacity: 0;
    transform: scale(2) translate(-70px, -30px); }
  100% { } }
