* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

body {
  background: linear-gradient(135deg, black 23%, rgba(35, 101, 128, 0.575) 100%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template-rows: auto 1fr auto;
  z-index: 40;
  border-style: double;
  border: 1.5px; }
  body .main {
    position: relative;
    background: url(../assets/imageninicio.jpg);
    min-height: 100%;
    background-size: cover;
    background-position: center;
    padding: 220px;
    border: 1px;
    border-style: double; }
  body .main h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: lighter; }
  body .main p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1em;
    padding: 0;
    font-size: 1em;
    color: #ffffff;
    font-weight: lighter; }
  body .main .btn {
    background: black;
    color: white;
    border-radius: 0;
    padding-left: 25px;
    padding-right: 25px; }
  @media (max-width: 768px) {
    body .main {
      padding: 200px 0; }
    body .main h2 {
      font-size: 2em; } }
  body nav {
    background: linear-gradient(to left, black, rgba(35, 101, 128, 0.575));
    position: static;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    border-style: double;
    border: 1.5px;
    padding: 15px; }
    body nav a {
      display: inline-block;
      margin: 5px;
      padding: 5px;
      font-weight: lighter;
      background-color: rgba(35, 101, 128, 0.575);
      border: 1.5px inset white;
      border-radius: 15%; }
    body nav a:link,
    body nav a:visited,
    body nav a:active {
      text-decoration: none; }
  body a:hover {
    background-color: rgba(26, 59, 71, 0.575);
    border-radius: 20%;
    border: 1.5 solid black; }
  body ul {
    list-style: none;
    display: inline-block; }
  body ul li {
    float: left; }

.card-1 {
  background: black;
  background: linear-gradient(135deg, #5f5b1d 23%, rgba(0, 0, 0, 0.575) 100%);
  text-align: center;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding-bottom: 15px; }

.card-2 {
  background: black;
  background: linear-gradient(135deg, #3c1d5f 23%, rgba(0, 0, 0, 0.575) 100%);
  text-align: center;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding-bottom: 15px; }

.card-3 {
  background: black;
  background: linear-gradient(135deg, #1d5f36 23%, rgba(0, 0, 0, 0.575) 100%);
  text-align: center;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding-bottom: 15px; }

.imagen-info {
  background-image: url(../assets/fondocontacto2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.fondogaleria {
  background-image: url(../assets/fondogaleria3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .fondogaleria #galeria .col-lg-4 {
    margin: 0;
    padding: 25px; }
  .fondogaleria #galeria img {
    width: 100%;
    height: 250px;
    border: 2px solid #060b4e; }
  .fondogaleria #galeria img:hover {
    border: 5px solid #060b4e; }

.contactoform {
  text-align: center;
  margin: auto;
  font-weight: bolder;
  width: 100%;
  padding: 100px;
  color: black; }

#imagen-principal .row {
  margin: 0;
  padding: 25px;
  width: 100%; }

.list-group :hover {
  background: rgba(35, 101, 128, 0.575); }

.container-bar {
  width: 100%;
  max-width: 50px;
  position: fixed;
  left: 0;
  top: 25%;
  z-index: 30; }
  .container-bar a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: all 500ms ease;
    color: #fff; }
  .container-bar a:hover {
    background: #1c1c1c; }
  .container-bar .fa-facebook {
    background: #3b5998;
    border-radius: 0px 5px 0px 0px; }
  .container-bar .fa-youtube {
    background: #e52a23; }
  .container-bar .fa-twitter {
    background: #00acee; }
  .container-bar .fa-github {
    background: #747473; }
  .container-bar .fa-pinterest {
    background: #c8232c;
    border-radius: 0px 0px 5px 0px; }
  .container-bar #title {
    position: absolute;
    background: #1c1c1c;
    padding: 0px 8px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    font-size: 15px;
    top: 12px;
    left: 0px;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: -1; }
  .container-bar a:hover #title {
    opacity: 1;
    visibility: visible;
    left: 64px; }
  .container-bar #title:after {
    position: absolute;
    content: '';
    border-left: 7px solid #1c1c1c;
    border-right: 6px solid #1c1c1c;
    border-top: 7px solid #1c1c1c;
    border-bottom: 7px solid #1c1c1c;
    right: 100%;
    top: 8px; }
  .container-bar .fa-play {
    cursor: pointer;
    transition: all 0.4s;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    transform: rotate(180deg);
    color: #49b0e6; }
  .container-bar #btn-social {
    display: none; }
  .container-bar :checked ~ .fa-play {
    transform: rotate(0deg); }
  .container-bar .icon-social {
    transition: all 0.4s;
    transform: translateX(0%);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); }
  .container-bar :checked ~ .icon-social {
    transform: translateX(-100%);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0); }

.fond {
  position: relative;
  padding-top: 85px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .fond .carreaux_presentation_light {
    display: table-cell;
    width: 250px;
    height: 250px;
    background-size: cover;
    overflow: hidden;
    position: relative; }
  .fond .carreaux_presentation_light .shadow_swhow_mini {
    background-color: rgba(19, 30, 33, 0.4);
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .fond .carreaux_presentation_light:hover .shadow_swhow_mini {
    background-color: rgba(16, 23, 41, 0); }
  .fond .carreaux_presentation_light .deroul_titre {
    position: absolute;
    text-transform: uppercase;
    font-family: 'Roboto';
    padding: 7px;
    z-index: 1000;
    top: 60%;
    left: -80%;
    color: #ffffff;
    font-weight: 300;
    font-size: 13px;
    width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s; }
  .fond .carreaux_presentation_light:hover .deroul_titre {
    background-color: #1e4944;
    left: 0px; }
  .fond .carreaux_presentation_light .deroul_soustitre {
    position: absolute;
    font-family: 'Roboto';
    padding: 5px;
    z-index: 1000;
    top: 60%;
    right: -85%;
    margin-top: 25px;
    color: #ffffff;
    font-weight: 300;
    font-size: 11px;
    width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s; }
  .fond .carreaux_presentation_light:hover .deroul_soustitre {
    background-color: #417c74;
    right: 0px; }

.footer {
  background: linear-gradient(to left, black, rgba(35, 101, 128, 0.575));
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 200;
  color: black;
  padding: 2em;
  text-align: center;
  bottom: 0;
  border: 1px;
  border-style: double; }
  .footer a:link {
    text-decoration: none; }
  .footer a:visited {
    text-decoration: none; }
  .footer a:active {
    text-decoration: none; }
